/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.mobileOnly { display: none; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.tabletOnly { display: none; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.desktopOnly { display: block; }
	.noDesktop { display: none; }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.mobileOnly { display: block; }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.tabletOnly { display: none; }
	.noMobile { display: none; }
	.noTablet { display: block !important; }

	.full-page-intro { height: 1100px; }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.desktopOnly { display: none; }
	.noTablet { display: none; }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */

