<nav class="sitenav position-fixed bg-dark rounded nav flex-column shadow">
    <a class="nav-link" href="" title="Find Players">
        <i class="fa fa-user"></i><span> Find Players</span>
    </a>
    <a class="nav-link" href="" title="Find Gearsets">
        <i class="fa fa-users"></i><span> Find Gearsets</span>
    </a>
</nav>